@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>tran mai thanh</h1>
<p>@ViewBag.Name</p>
<p>@ViewBag.Age</p>
<p>@ViewBag.Score</p>
<p>Id: @Model.Id</p>
<p>Name: @Model.Name</p>
<img />